# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# ignore textbooks directory
Textbooks/

# ignore lecture notes starting with "Lecture"
Lecture Notes/Lecture*.pdf

# ignore pdfs in the references directory
Implementation/Proposals/References/

# ignore pdfs in all subdirectories of the folders starting with "[P"
Implementation/Proposals/\[P*/**/*.pdf

# whitelist the starred pdfs and the pdfs starting with "[P-"
!Implementation/Proposals/\[P*/**/*\[\★\]*
!Implementation/Proposals/\[P*/**/*\[P-*

# ignore auto save files
Implementation/\[03\]\[Sources\]/*.asv

# ignore the .vscode directory
Implementation/\[03\]\[Sources\]/.vscode/


