# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# ignore textbooks directory
Textbooks/

# ignore lecture notes starting with "Lecture"
Lecture Notes/Lecture*.pdf

# ignore selected papers in the Papers directory
Implementation/References/

# ignore pdfs in the Papers directory
Implementation/Proposals/**/*.pdf
